{% extends '/vault/base.html' %}
{% from '_macros.html' import show_payment with context %}

{% block content %}
    {% if payments|length == 0 %}
        <div class="debt-row" style="text-align: center;">
            <h1>Empty</h1>
            <p>No payments.</p>
        </div>
    {% else %}
        {% for payment in payments %}
            {{show_payment(payment)}}
        {% endfor %}
        <div class="navigation">
            {% if page != 0 %} 
                <a href="{{url_for('vault.history', id=id, page=page-1)}}"> 
            {% endif %}
                    <span class="material-icons">
                        navigate_before
                    </span>
            {% if page != 0 %} 
                </a> 
            {% endif %}

            {% if (page + 1) * 15 < paymentsAmount %}
                <a href="{{url_for('vault.history', id=id, page=page+1)}}">
            {% endif %}
                    <span class="material-icons">
                        navigate_next
                    </span>
            {% if (page + 1) * 15 < paymentsAmount %}
                </a>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}