{% extends 'main/main-base.html' %}

{#Can optimize code#}

{% block content %}
    {% if gave|length > 0 %}
        <div class="main-debts">
            {% for debt in gave %}
                {{show_debt(debt)}}
            {% endfor %}
            <div class="navigation">
                {% if page != 0 %} 
                    <a href="{{url_for('main.lended', page=page-1)}}"> 
                {% endif %}
                        <span class="material-icons">
                            navigate_before
                        </span>
                {% if page != 0 %} 
                    </a> 
                {% endif %}

                {% if (page + 1) * 15 < current_user.giveAmount %}
                    <a href="{{url_for('main.lended', page=page+1)}}">
                {% endif %}
                        <span class="material-icons">
                            navigate_next
                        </span>
                {% if (page + 1) * 15 < current_user.giveAmount %}
                    </a>
                {% endif %}
            </div>
        </div>
    {% else %}
        <h1>Empty</h1>
        <p>You have no lended debts</p>
    {% endif %}
{% endblock %}